@import "../../assets/fonts/gotham/GothamHTF-BoldCondensed";
@import "../../assets/fonts/gotham/GothamHTF-BookCondensed";

.heading {
  font-family: "Gotham HTF", sans-serif;
  font-weight: bold;
}

.img {
  max-width: 100%;
  width: 100%;
}

.teaser {
  font-family: "Gotham HTF", sans-serif;
}