@font-face {
    font-family: 'Gotham HTF';
    src: url('/fonts/gotham/GothamHTF-BookCondensed.woff2') format('woff2'),
        url('/fonts/gotham/GothamHTF-BookCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}